<% title 'Create New Doc' %>
<% description 'Create New Doc description.' %>
<% keywords 'Create New Doc keywords' %>

<div class="wrapper_with_padding">
  <h1>New Doc</h1>
  <%= render 'form' %>
</div>
