<% title @doc.title %>
<% description @doc.content %>
<% keywords @doc.title + "keywords" %>


<div class="wrapper_with_padding">
  <div id="doc_show">
    <h1 class="title"> <%= @doc.title %></h1>
    <p> <%= simple_format(@doc.content) %></p>
    <!-- this is our link to the page where we can edit the specific @doc -->
    <button class="button"><%= link_to "Edit Doc", edit_doc_path(@doc) %></button>
    <!-- this is our link to delete a @doc, and we have a method that will run the DELETE http verb, then will need confirmation that we want to delete @doc -->
    <button class="button"><%= link_to "Delete", doc_path(@doc), :method => :delete, :data => {confirm: 'Are you sure?'} %></button>
  </div>
</div>
